.checkout-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
}


.cart-summary ul {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.product-details {
  display: flex;
  align-items: center;
}

.product-details img {
  margin-right: 20px;
  border-radius: 8px;
}

.product-info h3 {
  font-size: 18px;
  font-weight: bold;
}

.product-info p {
  font-size: 14px;
  margin: 5px 0;
}

.price-info p {
  font-size: 14px;
}

.price-info strong {
  font-weight: bold;
}


#cart-button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 60px;
}

#cart-button:hover {
  background-color: #218838;
}
