// Specific CSS for your home-page
body {
  background-color: rgb(129, 127, 127);

}

.container-home{
  display: flex;
  flex-direction: column;
  background-image: url('/assets/background_home.png');
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  text-align: center;
  justify-content: center;
  h1, h6{
    color: white;
  }
}

/* Resolução para iPhone 16 Pro */
@media (max-width: 402px) and (max-height: 874px) {
  .container-page {
    background-position: top;
    padding: 2rem 1rem;
  }

  .home h1 {
    font-size: 1.8rem;
  }

  .home h6 {
    font-size: 1rem;
    margin-top: 1rem;
  }

  button.btn {
    font-size: 0.9rem;
    width: 100%;
  }
}
