<aside class="sidebar">
  <div class="profile">
    <img src="profile.jpg" alt="Foto de Perfil" class="profile-img">
    <p>Olá, Asdrubo</p>
  </div>

  <div class="menu">
    <ul>
      <li><a href="#">Minha conta</a></li>
      <li><a href="#">Categorias</a></li>
      <li><a href="#">Top 20</a></li>
      <li><a href="#">Anunciar</a></li>
      <li><a href="#">Contato</a></li>
    </ul>
  </div>

  <div class="cart">
    <a href="#" class="cart-icon">
      <img src="cart-icon.png" alt="Carrinho">
      <span class="cart-count">0</span>
    </a>
  </div>
</aside>
