    <footer>
        <div class="footer-content">
            <a href="#" class="footer-link">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Início" class="footer-icon">
                <span>Início</span>
            </a>
            <a href="#" class="footer-link">
                <img src="https://cdn-icons-png.flaticon.com/512/1007/1007988.png" alt="Pedidos" class="footer-icon">
                <span>Pedidos</span>
            </a>
            <a href="#" class="footer-link">
                <img src="https://cdn-icons-png.flaticon.com/512/1170/1170686.png" alt="Configurações" class="footer-icon">
                <span>Configurações</span>
            </a>


            <% if user_signed_in? %>
            <!-- Ícone para "Minha Conta" -->
            <%= link_to my_account_path(current_user), class: "footer-icon-link" do %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", alt: "Minha Conta", class: "footer-icon" %>
            <% end %>
          <% else %>
            <!-- Ícone para "Login" -->
            <%= link_to new_user_session_path, class: "footer-icon-link" do %>
              <%= image_tag "perfil.png", alt: "Entrar", class: "footer-icon" %>
            <% end %>
          <% end %>

        </div>
    </footer>
