    <footer>
        <div class="footer-content">
            <a href="#" class="footer-link">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Início" class="footer-icon">
                <span>Início</span>
            </a>
            <a href="#" class="footer-link">
                <img src="https://cdn-icons-png.flaticon.com/512/1007/1007988.png" alt="Pedidos" class="footer-icon">
                <span>Pedidos</span>
            </a>
            <a href="#" class="footer-link">
                <img src="https://cdn-icons-png.flaticon.com/512/1170/1170686.png" alt="Configurações" class="footer-icon">
                <span>Configurações</span>
            </a>

            <% if user_signed_in? %>
              <%= link_to my_products_user_path(current_user), class:"footer-link" do %>
                <img src="https://cdn-icons-png.flaticon.com/512/1007/1007988.png" alt="Pedidos" class="footer-icon">
                <span>Meus Anúncios</span>
              <% end %>
            <% end %>

            <%= link_to new_user_session_path, class: "profile" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", alt: "Entrar", class: "footer-icon" %>
            <% end %>

        </div>
    </footer>
