  <h1>Mensagem de Contato</h1>
  <p><strong>Nome:</strong> <%= @contact.nome %></p>
  <p><strong>E-mail:</strong> <%= @contact.email %></p>
  <p><strong>Mensagem:</strong></p>
  <p><%= @contact.mensagem %></p>
