.container-products {
  margin: 10px auto;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 200px;
  height: 330px;
  background-color: white;
  text-align: center;
}

.product-card-image {
  height: 210px;
  background-size: cover;
  background-position: center;
}

.container-products .row {
  gap: 20px;

}
.product-card-content {
  padding: 5px;
}
