.flash-message .alert {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: green;
  color: white;
  border-radius: 5px;
}

#table-cart {
  border: 0.1px black solid;
  padding: 40px;
}

#tr-dsc-cart{
  border: 0.1px black solid;

}

.imagens-cart img {
  width: 50px;
}

#buttons-cart {
  margin-bottom: 80px;
}
.product-info{
  background-color: white;
}

#cart-td {
  background-color: white;

}
